<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome file</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body class="stackedit">
    <div class="stackedit__html">
      <h2 id="rest-api-for-blog">REST API For Blog</h2>
      <ul>
        <li>Author : <code>Redwan Ratu</code></li>
      </ul>
      <h2 id="api-v1">API v1</h2>
      <ul>
        <li>
          Host URL:
          <a href="https://medicine-blog.herokuapp.com"
            >https://medicine-blog.herokuapp.com</a
          >
        </li>
      </ul>
      <h4 id="example">Example:</h4>
      <p>
        <a href="https://medicine-blog.herokuapp.com/api/v1/posts"
          >https://medicine-blog.herokuapp.com/api/v1/posts</a
        >
      </p>
      <h4 id="post--article">Post / Article:</h4>
      <p>| Method | Api | Description | Remarks |</p>
      <p>| GET | <a href="">/api/v1/posts</a> | Get all posts |</p>
      <p>| POST | <a href="">/api/v1/posts</a> | Create Post|</p>
      <p>
        | GET | <a href="">/api/v1/posts/home-short-info</a> | Get all posts
        short info | Query : page
      </p>
      <p>
        | GET | <a href="">/api/v1/posts/top-reads</a> | Sorting by most Read
        Post | Query : page
      </p>
      <p>| GET | <a href="">/api/v1/posts/{id}</a> | Get Post / Read Post |</p>
      <p>
        | PATCH | <a href="">/api/v1/posts/{id}/react</a> | React to a Post |
      </p>
      <p>
        | PATCH | <a href="">/api/v1/posts/{id}/comment</a> | Commenting on a
        Post |
      </p>
      <h4 id="tags--topics">Tags / Topics:</h4>
      <p>| Method | Api | Description | Remarks |</p>
      <p>| GET | <a href="">/api/v1/tags</a> | All Tags |</p>
      <p>| POST | <a href="">/api/v1/tags</a> | Create Tags |</p>
      <p>
        | GET | <a href="">/api/v1/tags/explore-by</a> | Random 5 tags to
        explore by |
      </p>
    </div>
  </body>
</html>
